@import '../Styles/abstracts/_colors.scss';

.header-container {
    min-height: 72px;
    background-color: $Blue1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
    font-weight: 500;
    user-select: none;
}

.header-bit-icon {
    width: 42px;
}

.header-items-container {
    display: flex;
    flex-flow: row nowrap;
}

.header-item {
    margin: auto;
    cursor: pointer;
    color: $Gray1;

    &:hover {
        color: $Primary;
    }

    &.margin-around {
        margin: auto 56px !important;
    }

    &.blue-font-color {
        color: $Primary !important;
    }
}
